footer {
    margin-top: 70px;
    font-family: 'Roboto', sans-serif;
}

.footer-tittle {
    max-width: 22%;
}

.footer-tittle span {
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    text-transform: uppercase;
}

.footer-tittle .box-icon{
    margin-top: 20px;
    gap: 30px;
}

.footer-content {
    color: #000;
    font-size: 16px;
    font-weight: 300;
    line-height: 33px;
    margin-top: 20px;
}

.footer-content p {
    line-height: 24px;
}

.footer-content a {
    display: block;
    color: #000;
}

.footer-content a:hover {
    color: #000;
}

.footer-bottom {
    margin: 44px 0px;
    padding: 44px 0px;
    border-top: 1px solid #D9D9D9;
}

.footer-bottom span {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}
