.our-testimonial {
  margin-top: 100px;
}

.our-testimonial .our-testimonial-title span {
  color: #969595;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.our-testimonial .our-testimonial-title p {
  color: #000;
  font-size: 42px;
  font-weight: 600;
}

.our-testimonial-partner {
  position: relative;
  border-top: 1px solid #d9d9d9;
  padding: 90px 0px;
  margin-top: 90px;
}

.our-testimonial-partner .our-testimonial-partner-img {
  top: 0px;
}
.our-testimonial .carousel-item .title,
.our-testimonial .carousel-item .person-name {
  font-size: 20px;
  font-weight: 700;
}
.our-testimonial .carousel-item p,
.our-testimonial .carousel-item .person-description {
  font-size: 13px;
  font-weight: 300;
  line-height: 24px;
}
.our-testimonial .carousel-item .star * {
    width: 16px;
    height: 16px;
}
.our-testimonial .carousel-item .avatar {
    margin: 30px 0px 10px 0px;
    width: 64px;
    height: 64px;
}
