.our-testimonial {
  margin-top: 50px;
}

.our-testimonial .our-testimonial-title span {
  color: #969595;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.our-testimonial .our-testimonial-title p {
  color: #000;
  font-weight: 600;
  line-height: 140%;
  font-size: 32px;
}

.our-testimonial-partner {
  position: relative;
  margin-top: 80px;
  margin-bottom: 50px;
  width: 100%;
  overflow-x: auto;
}

.our-testimonial-partner .our-testimonial-partner-img {
  top: 0px;
  min-width: 45%;
  margin-right: 5%;
}
.our-testimonial .carousel-item .col-4 {
  width: 365px;
}
.our-testimonial .carousel-item .title,
.our-testimonial .carousel-item .person-name {
  font-size: 20px;
  font-weight: 700;
}
.our-testimonial .carousel-item p,
.our-testimonial .carousel-item .person-description {
  font-size: 13px;
  font-weight: 300;
  line-height: 24px;
}
.our-testimonial .carousel-item .star * {
  width: 16px;
  height: 16px;
}
.our-testimonial .carousel-item .avatar {
  margin: 30px 0px 10px 0px;
  width: 64px;
  height: 64px;
}
@media screen and (min-width: 992px) {
  .our-testimonial {
    margin-top: 100px;
  }  
  .our-testimonial-partner {
    position: relative;
    border-top: 1px solid #d9d9d9;
    padding: 90px 0px;
    margin-top: 90px; 
  }
  .our-testimonial .our-testimonial-title .our-testimonial-title-bottom p {
    font-size: 42px;
  }
  .our-testimonial-partner .our-testimonial-partner-img {
    top: 0px;
    min-width: 0px;
    margin-right: 0px   ;
  }
  .our-testimonial .carousel-item .col-4 {
    width: 33.3333333333%;
  }
}
