.product-popular {
  margin-top: 100px;
  position: relative;
}

.product-popular .product-popular-banner-content {
  position: relative;
  top: 0px;
}

.product-popular
  .product-popular-banner-content
  .product-popular-banner-content-top {
  color: #969595;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.product-popular
  .product-popular-banner-content
  .product-popular-banner-content-bottom {
  color: #000;
  font-size: 32px;
  font-weight: 600;
}

.product-popular .product-popular-banner-content p {
  color: #616161;
  font-size: 16px;
  font-weight: 400;
  line-height: 31px;
}

.list-product {
  background: none;
  position: relative;
  margin-top: 0px;
}
.product-popular .list-product .product-item {
  padding: 0px;
  width: 49%;
}
.product-popular .list-product .product-item p {
  min-height: 81px;
}

@media screen and (min-width: 992px) {
  .product-popular .product-popular-banner-content {
    position: absolute;
    top: 0px;
  }
  .product-popular
    .product-popular-banner-content
    .product-popular-banner-content-bottom {
    font-size: 42px;
  }
  .product-popular .product-popular-banner-content p {
    width: 600px;
    height: 60px;
    overflow: hidden;
  }
  .list-product {
    margin-top: -200px;
  }
  .product-popular .list-product .product-item {
    padding: 25px;
    width: 365px;
  }

}
