.the-most-wanted-dimensions {
    margin-top: 70px;
}

.the-most-wanted-dimensions .title {}

.the-most-wanted-dimensions .title h2 {
    font-size: 20px;
    font-weight: 600;
}

.the-most-wanted-dimensions .title p {
    color: #616161;
    font-size: 16px;
    font-weight: 400;
}

.the-most-wanted-dimensions .content .row-content {
    display: flex;
    padding: 10px;
    gap: 31px;
    justify-content: center;
}

.the-most-wanted-dimensions .dimensions-item {
    border-radius: 3px;
    border: 1px solid #D9D9D9;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
